@{
    ViewBag.Title = "Home";
}

<h2>Welcome to CCICT Enrollment System</h2>

<p>
    <a href="@Url.Action("Login", "Home")" class="btn btn-primary">Login</a>
    <a href="@Url.Action("Register", "Home")" class="btn btn-secondary">Sign Up</a>
</p>